<ul class="list-unstyled d-flex flex-wrap">
    {% for language_item in languages %}
        <li class="{{ not loop.last ? 'mr-3' }}">
            {% set properties = {} %}
            {% if not active_language.language.id is same as(language_item.language.id) %}
                {% set properties = { 'class' : ['text-muted']} %}
            {% endif %}
            {{ link(language_item.title, language_item.url, properties)}}
        </li>
    {% endfor %}
</ul>
