<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="languageSwitcher" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    {{ active_language.title }}
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageSwitcher">
    <ul class="list-unstyled mb-0">
      {% for language_item in languages %}
        <li>
          {{ link(language_item.title, language_item.url, {'class': ['dropdown-item', active_language.language.id == language_item.language.id ? 'active']}) }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
